@inject IJSRuntime JSRuntime
@page "/SearchExm1"

<h3>جستجو</h3>
<form class="row justify-content-start align-items-center ">
    <div class="col-md-3 col-sm-12">
        <label for="title">عنوان</label>
        <input type="text" class="form-control" id="title">
    </div>
    <div class="col-md-3 col-sm-12">
        <label for="year">سال</label>
        <select class="form-select" aria-label="Default select example" id="year">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="col-md-3 col-sm-12">
        <label for="month">ماه</label>
        <select class="form-select" aria-label="Default select example" id="month">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="col-auto align-self-end">
        <button type="submit" class="btn btn-primary ">جستجو</button>
    </div>
</form>
<table class="table table-bordered table-hover table-striped mt-5">
    <thead>
    <tr>
        <th>نوع تراکنش</th>
        <th>دلیل</th>
        <th>مبلغ</th>
        <th>سال</th>
        <th>ماه</th>
        <th>جزئیات</th>

    </tr>
    </thead>
    <tbody>
   
    <tr>
        <td>xxxx</td>
        <td>xxx</td>    
        <td>xxx</td>    
        <td>xxx</td>    
        <td>xxx</td>
        <td>
            <button type="submit" class="btn btn-success">جزئیات</button>
        </td>
    </tr>
    
    </tbody>
</table>

<hr />


<div class="row">
    <p class="col-auto">
        مجموع : xxxxx
    </p>
</div>
@code {

}
